*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body{


}
.tabela{
    border-style: solid;
    width: 500px;
    height: 200px;
    text-align: left;
    place-items: center;

}