*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.content{
    border-radius: 15px;
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
    color: white;
}
.first-content{
    display: flex;
}
.list-social-media{
    display: flex;
}
.form{
    display: flex;
    flex-direction: column;
}
.inner-container{
    position: absolute;
    display: none;
}
