@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Sans Thai", sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(111, 103, 216),
    rgb(76, 151, 250)
  );
  place-items: center;
}

html {
  font-size: 16px;
  font-weight: 100;
  scroll-behavior: smooth;
}

h1{
  text-align: center;
  margin: 10px;
  margin-left: 10px;
  text-shadow: rgba(68, 35, 35, 0.39) 1px 2px;
}

.container {
  background-image: linear-gradient(
    to right,
    rgb(228, 227, 235),
    rgb(124, 172, 235)
  );
  margin: 100px;
  place-items: center;
  border-radius: 10px;
  display: grid;
  padding-left: auto;
  height: 500px;
  width: 400px;
  box-shadow: black 5px 2px 2px;
}
.inner-container {
  align-items: center;
  justify-content: center;
}
.frente {
  color: gray;
  cursor: all-scroll;
}
.frente .a {
  color: blue;
  opacity: 0.5;
}
.ip {
  text-decoration: none;
  color: rgb(0, 67, 250);
}
.inner-container.btn {
  place-items: center;
  display: inline-block;
}
.link {
  color: purple;
}
.nome {
  text-shadow: purple;
  text-align: center;
}
